#fp9 a { background-image: url("//d2ibasrwfd3o7m.cloudfront.net/images/ports/009.png"); }
#fp8 a { background-image: url("//d2ibasrwfd3o7m.cloudfront.net/images/ports/008.png"); }
#fp7 a { background-image: url("//d2ibasrwfd3o7m.cloudfront.net/images/ports/007.png"); }
#fp6 a { background-image: url("//d2ibasrwfd3o7m.cloudfront.net/images/ports/006.png"); }
#fp5 a { background-image: url("//d2ibasrwfd3o7m.cloudfront.net/images/ports/005.png"); }
#fp4 a { background-image: url("//d2ibasrwfd3o7m.cloudfront.net/images/ports/004.png"); }
#fp3 a { background-image: url("//d2ibasrwfd3o7m.cloudfront.net/images/ports/003.png"); }
#fp2 a { background-image: url("//d2ibasrwfd3o7m.cloudfront.net/images/ports/002.png"); }
#fp1 a { background-image: url("//d2ibasrwfd3o7m.cloudfront.net/images/ports/001.png"); }

blockquote { line-height: 130%; }

#lang { width: 100px; height: 16px; margin-bottom: 5px; margin-top: 0px; margin-left: 250px; }
#lang h5 { list-style: none; display: inline-block; margin: 0; }
#lang h5 a { padding: 11px 0 0 0; overflow: hidden; background-repeat: no-repeat; width: 16px; height: 0px !important; float: left; margin: 0 5px; }

#welcomebox { width: 900px; margin-left: 30px}
#welcome { width: 625px; height: auto; float: left; }
#welcome h2 { text-align: center; margin: 0 0 0 25px; }

#getbox { background: url("//d2ibasrwfd3o7m.cloudfront.net/images/getbox.png") no-repeat; width: 271px; height: 208px; text-align: center; color: #333; float: right; margin: -10px 0 0 0; }
#getbox * { font-weight: normal; }
#getbox a { color: #333; }
#getbox a:hover { color: #666; }
#getbox h2, h3, h4 { margin: 0; padding: 0; }
#getbox h2 a { text-decoration: none; font-size: 17pt; }
#getbox h3 { font-size: 12pt; margin-bottom: 10px; }
#gettext { margin-top: 10px; }
#getbox * { font-weight: normal; }
#getbox a { color: #333; }
#getbox a:hover { color: #666; }
#getbox h2, h3, h4 { margin: 0; padding: 0; }
#getbox h2 a { text-decoration: none; font-size: 17pt; }
#getbox h3 { font-size: 12pt; margin-bottom: 10px; }
#gettext { margin-top: 10px; }
#getcd { width: 215px; height: 107px; }
#getcd a { background: url("//d2ibasrwfd3o7m.cloudfront.net/images/cd.png") no-repeat; float: left; width: 215px; height: 107px; margin: 0px 90px 5px 30px; }

#gravity { width: 900px; background: transparent; padding: 0 20px; margin: auto;}
#gravity div { float: left; background: transparent; }
#gravity h2 { text-align: center; line-height: 22px; }
#gravity h2 img { border: none; vertical-align: bottom; }
#gravity h2 a { color: #333; text-decoration: none; }
#gravity h2 a:hover { color: #666; }

#news, #tweets, #ports, #security { width: 300px; font-size: 90% }
#ports li { list-style: none; display: inline; }
#ports ul { margin-left: -20px; }
#ports li a { padding: 64px 0 0 0; margin: 15px 10px; overflow: hidden; background-repeat: no-repeat; float: left; width: 64px; height: 0px !important; height: /**/:64px; }

.date { font-style: italic; color: #808080; text-align: center; }
.update { height: 3.8em; overflow: hidden; }

#midnight { float: left; margin: 0 10px 0 0; border: 1px solid #ccc; padding: 10px; text-align: center; font-size: 8pt; }
#text ul li { font-size: 14px; }
#text img { border: none; }
