/* 
   CSS Document for MidnightBSD.org
   $MidnightBSD$ 
*/
@import "/css/font-normal.css";

body {
    color: black;
    background-color: white;
    margin: 0;
    font: 12px Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 1.3em;
}

h3 {
    color: #6dcff6;
    background-color: transparent;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: navy;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #6dcff6;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: #6dcff6;
    background-color: transparent;
    text-decoration: underline;
}

img {
    border: none;
}

#header {
    width: 100%;
    height: 90px;
    background-color: #6dcff6;
    color: white;
    margin: 0;
    padding-bottom: 0;
}

#content {
    background: white;
    width: 700px;
    margin: 0;
    margin-left: 160px;
    padding: 20px;
}

#logo {
    margin-top: 20px;
    text-align: left;
    margin-left: 100px;
}

#rnav {
    float: right;
    top: 0;
    left: 0;
}

#topnav {
    text-align: left;
    color: white;
    background: black;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    height: 2em;
    overflow: visible;
    margin-top: 7px;
}

#topnavlist {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 140px;
    padding-top: 1px;
    height: 2em;
}

#topnavlist li {
    padding: 0 1em 0 1.2em;
    display: inline;
    border-left: 1px solid #B4B4B4;
}

#topnavlist li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#topnavlist li:first-child {
    border-left: 0;
    padding-left: 0;
}

#footer {
    width: 100%;
    background-color: #6dcff6;
    color: white;
    margin: 0;
    padding: 5px;
    left: 0;
}

#footertext {
    margin-left: 175px;
}

@media screen and (max-width: 900px) {
    #footertext {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #logo {
        margin-left: 0;
    }
}